body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.heading {
  text-align: center;
  margin-bottom: 50px;
}
.parent {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.box {
  width: 180px;
  height: 150px;
  background-color: #2222229f;
  cursor: pointer;
}
.box1 {
  width: 180px;
  height: 150px;
  background-color: red;
  cursor: pointer;
}
.box2 {
  width: 180px;
  height: 150px;
  background-color: blue;
  cursor: pointer;
}
.box3 {
  width: 180px;
  height: 150px;
  background-color: yellow;
  cursor: pointer;
}
